<%- include header %>
<% if (user) { %>
<%- include sider %>
<% } else { %>
<script>location.href = "/login"</script>
<% } %>
<div class="wid result-page">
	<h4>中医体质辨识系统测评结果</h4>
	<table class="table table-striped table-bordered table-hover table-responsive">
		<thead>
		<th colspan="2">经过测试情况，系统判断您的体质为：</th>
		<tr><th colspan="2">基本信息</th></tr>
		</thead>
		<tbody>
			<tr>
				<td class="td-first">姓名</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><%= questionone.sex=="man"?"男":"" %><%= questionone.sex=="woman"?"女":"" %></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><%= questionone.age %></td>
			</tr>
			<tr>
				<td>婚姻</td>
				<td><%= questionone.matrimony==0?"已婚":"" %><%= questionone.matrimony==1?"已婚":"" %><%= questionone.matrimony==1?"未婚":"" %><%= questionone.matrimony==2?"其他":"" %></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td><%= questionone.tel %></td>
			</tr>
			<tr>
				<td>身份证号</td>
				<td><%= questionone.idcard %></td>
			</tr>
		</tbody>
	</table>
</div>
<%- include footer %>