<%- include header %>
<% if (user) { %>
<%- include sider %>
<% } else { %>
<script>location.href = "/login"</script>
<% } %>
<div class="wid result-page">
	<h4>中医体质辨识系统测评结果</h4>
	<table class="table table-striped table-bordered table-hover table-responsive">
		<thead>
		<th colspan="2">经过测试情况，系统判断您的体质为：
			<% if(questionfour.result[8] == "1"){%>平和质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[0] == "1"){%>气虚质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[1] == "1"){%>阳虚质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[2] == "1"){%>阴虚质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[3] == "1"){%>痰湿质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[4] == "1"){%>湿热质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[5] == "1"){%>血瘀质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[6] == "1"){%>气郁质&nbsp&nbsp&nbsp&nbsp
			<% }%>
			<% if(questionfour.result[7] == "1"){%>特禀质
			<% }%>
		</th>
		<tr><th colspan="2">基本信息</th></tr>
		</thead>
		<tbody>
			<tr>
				<td class="td-first">姓名</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><%= questionone.sex=="man"?"男":"" %><%= questionone.sex=="woman"?"女":"" %></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><%= questionone.age %></td>
			</tr>
			<tr>
				<td>婚姻</td>
				<td><%= questionone.matrimony==0?"已婚":"" %><%= questionone.matrimony==1?"已婚":"" %><%= questionone.matrimony==1?"未婚":"" %><%= questionone.matrimony==2?"其他":"" %></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td><%= questionone.tel %></td>
			</tr>
			<tr>
				<td>身份证号</td>
				<td><%= questionone.idcard %></td>
			</tr>
			<tr>
				<td>平和质转换分数</td>
				<% if(questionfour.Ascore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Ascore %></td>
				<% }%>
			</tr>
			<tr>
				<td>气虚质转换分数</td>
				<% if(questionfour.Bscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Bscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>阳虚质转换分数</td>
				<% if(questionfour.Cscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Cscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>阴虚质转换分数</td>
				<% if(questionfour.Dscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Dscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>痰湿质转换分数</td>
				<% if(questionfour.Escore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Escore %></td>
				<% }%>
			</tr>
			<tr>
				<td>湿热质转换分数</td>
				<% if(questionfour.Fscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Fscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>血瘀质转换分数</td>
				<% if(questionfour.Gscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Gscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>气郁质转换分数</td>
				<% if(questionfour.Hscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Hscore %></td>
				<% }%>
			</tr>
			<tr>
				<td>特禀质转换分数</td>
				<% if(questionfour.Iscore == null){%>
				<td>未测试</td>
				<% } else{ %>
				<td><%= questionfour.Iscore %></td>
				<% }%>
			</tr>
		</tbody>
	</table>
</div>

<%- include footer %>